body {
    padding: 1em 0.5em 50vh 0.5em;
}

.inline {
    display: inline;
}

/** RTL for Grid **/
.reverse {
    direction: rtl;
}

.msg {
    color: coral;
    font-size: large;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.px-3 {
    padding-left: 16px;
    padding-right: 16px;
}

.fs-1 {
    font-size: 2rem;
}

.w-auto {
    width: auto;
}

.w-100 {
    width: 100%;
}

.text-end {
    text-align: end;
}
